{% extends "base.html" %}
{% block title %}Замовлення{% endblock %}
{% block content %}
<h2>Каталог товарів</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="order-messages">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% for item in items %}
<div class="card">
    <h3>{{ item.name }}</h3>
    <p>Опис: {{ item.describe }} | Ціна: {{ item.price }} грн</p>

    <form method="POST" style="margin-top: 10px;">
        <label for="qty-{{ item.id }}">Кількість:</label>
        <input type="number" id="qty-{{ item.id }}" name="quantity" min="1" value="1" required>
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button type="submit">Додати у кошик</button>
    </form>
</div>
{% endfor %}

<a href="{{ url_for('cart') }}" class="cart-link">Перейти до кошика</a>
{% endblock %}
